*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    width:100%;
}

.hero{
    display:flex;
    position:relative;
    background:linear-gradient(
        0deg,
        rgb(0, 1, 49),
        rgb(0, 30, 44),
        rgb(0, 26, 59),
        rgb(18, 0, 59)
       
    );
     width:100%;
     height:1000vh;
    
}
.titles{
    opacity:0;
    position:absolute;
    background-color:transparent ;
    left:50%;
    top:20vh;
    transform:translateX(-50%);
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:3px;
    transform:translate(-50%,0);
    transition:opacity 2.5s ease,
               transform 2.5s ease;
    


}
.titles.show{
    opacity:1;
    transform:translate(-50%,-10%);
}
.fade-title{
    color:transparent;
    font-size:clamp(3rem,8vw,8rem);
    white-space:nowrap;
    margin:0;
    background:linear-gradient(
        0deg,
        
        #663399,
        #CC33FF,
        white
    );
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;


    
}
.fade-title2{
    color:transparent;
    font-size:clamp(3rem,8vw,8rem);
    white-space:nowrap;
    margin:0;
    background:linear-gradient(
        0deg,
        #663399,
        #CC33FF,
        white
    );
     background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.header{
    background-color:black;
    position:absolute;
    width:100%;
    height: 8vh;
    display:flex;
   
    align-items:center;
    border-color:aliceblue;
    border-width: 2px;
   padding:0 5vw;
}
.header-menu{
 width:60vw;
display:flex;
align-items:center;
gap:30px;
}
.header-menu a{
    text-decoration:none;
}
.header-Element{
    color:white;
   
}
.hamburger{
      position: relative;
     background-color: transparent;
     aspect-ratio:1/1;    
     display:flex;
     height:90%;
     margin-left:auto;
     flex-direction:column;
     justify-content:space-around;
     
     cursor:pointer;

    }
.hamburger span{
        position:absolute;
        width:60%;
        height:4px;
        left:20%;
        background-color:rgb(202, 39, 252);
        border-radius: 10px;
        transition: 0.3s;
    }


@media(max-width:1024px){

    .hamburger{
        background-color: transparent;
        
    }
    }
@media(max-width:768px){
     .hamburger{
        
        background-color:transparent;
        height:90%;
        margin-right:2%;
     }

}
@media(max-width:420px){
     .hamburger{
        
        background-color:transparent;
        height:90%;
        margin-right:2%;
     }
     
        
     
}
.hamburger span:nth-child(1){
    top: 30%;
}

.hamburger span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

.hamburger span:nth-child(3){
    bottom: 30%;
}

.hamburger.active span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity:0;
}
.hamburger.active span:nth-child(3){
    bottom:auto;
    top:50%;
    transform: translateY(-50%)rotate(-45deg);
}
.scrollanimation{
    height:2200px;
   
    top:800px;
    flex-direction:column;
}
.animationblock{
    display:flex;
    position:sticky;
    top:100px;
    width:100vw;
    gap:3px;
    flex-direction: row;
}
.fade-stick{

width:60vw;
height:11vh;
transform:scaleX(0);
transform-origin:left center;
background:linear-gradient(
     -90deg,
    rgb(174, 80, 218,1.0),
    rgb(174,80,218,0)
    
);
clip-path:polygon(
    0 0,
    100% 0,
    90% 100%,
    0 100%
);
}

.Quority{
   font-size:70px;
    color:white;
    font-weight: 1000;
    
    transform:scaleX(0);
    transform-origin:left center;
}
.fade-stick2{
    transform:scaleX(0);
    transform-origin: right center;  
    min-width:20vw;
    height:11vh;
  
    
    background:linear-gradient(
     90deg,
    rgb(174, 80, 218,1.0),
    rgb(174,80,218,0)
    );
    clip-path:polygon(
        27% 0,
        100% 0,
        100% 100%,
        0 100%
    );



}
.quoritybox{
   position:sticky;
    display:flex;
    top:250px;
    gap:100px;

}
.Quorityimage{
   margin-left:60px;
    width:40vw;
   top:230px;
   opacity:0;
}
.Quority-text{
    opacity:0;
    position:relative;
    width:40vw;
    
    
}

.Quority-text1{
    
    position:absolute;
    color:transparent;
    background:linear-gradient(
         0deg,
        #663399,
        #CC33FF,
        white
    );
    top:0px;
    left:120px;
    font-size:40px;
    margin:0;
     background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.Quority-text2{

    position:absolute;
    top:100px;
    font-size: 20px;
    color:white;

}










.block{
position:absolute;
top:6000px;
background-color:#CC33FF;
width:300px;
height:400px;


}
@media(max-width:450px){
    .scrollanimation{
        top:200px;
    }

.fade-stick{
        height:4vh;
        width:50vw;
        background-color:rgb(174, 80, 218);
       

     }
    .fade-stick2{
        height:4vh;
        width:10vw;
        background-color:rgb(174, 80, 218);
    }
     .animationblock{
       top:70px;
     }
     .Quority{
        font-size:30px;
        font-weight: 3;
      }


}